.button
{
    padding: 2px 8px;
    font-weight: bold;
}

.button-style-default
{
    border: 1px solid var(--color-ink-blue);
    color: var(--color-background-light);
    background: var(--color-ink-blue);
}

.button-style-red
{
    border: 1px solid var(--color-ink-red);
    color: var(--color-background-light);
    background: var(--color-ink-red);
}