.pointsbadge-column
{
    display: inline-grid;
    grid-template-rows: 1fr auto;
}

.pointsbadge-column > strong,
.pointsbadge-column > span
{
    text-align: center;
}

.pointsbadge-column > strong
{
    font-size: 1.4em;
    line-height: 1.2rem;
}

.pointsbadge-brick
{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: .5ch;
    align-items: baseline;
}

.pointsbadge-brick > strong
{
    font-size: 1.4em;
}