.unitcard-header
{
    border-bottom: 1px solid var(--color-ink-blue);   

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    column-gap: var(--columns-gap);
}

.unitcard-statsrow
{
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(6, 80px)
    /* border-bottom: 1px solid var(--color-ink-blue); */
}

.unitcard-specialsrow > strong
{
    font-size: .8em; 
    font-weight: bold;
    opacity: var(--sidenotes-opacity);
}

.unitcard-specialsrow > strong
{
    display: block;
}

.unitcard-header,
.unitcard-statsrow > div,
.unitcard-specialsrow
{
    padding: 2px 4px;
}

.unitcard-statsrow > div:not(:last-of-type)
{
    /* border-right: 1px solid var(--color-ink-blue); */
}