.commandercard-header
{
    padding: var(--card-padding);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    column-gap: var(--columns-gap);

    border-bottom: 1px solid var(--color-ink-blue);
}

.commandercard-stats
{
    padding: var(--card-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    column-gap: var(--columns-gap);
}

.commandercard-personality
{
    padding: var(--card-padding);
}

.commandercard-personality-description
{
    font-size: 0.8em;
    opacity: var(--sidenotes-opacity);
}