.writtenfield
{
    background: transparent;
    font-size: 2em;
    border: none;
    font-family: var(--font-handwriting);
    
    border-bottom: 1px solid var(--color-letter-border);
}

.writtenfield:focus
{
    outline: none;
    border-bottom: 1px solid var(--color-ink-blue);
}
