:root 
{
    --color-ink-black: #38303B;
    --color-ink-blue: #0A1D55;
    --color-ink-red: #A31C2B;

    --color-letter-border: #efe1cc;

    /* --color-background: #FFF0D9; */
    --color-background: rgba(200, 200, 200, .2);
    --color-background-light: #f7f1e9;
}