input, select, textarea 
{
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-letter-border);

    min-width: 60px;
}

input:focus, select:focus, textarea:focus
{
    outline: none;
    border-bottom: 1px solid var(--color-ink-blue);
}