.specialtag
{
    display: inline-block;
    cursor: default;
}

.specialtag.spacialtag-clickable:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.specialtag-description
{
    display: inline-block;
    font-size: 0.8em;
    opacity: var(--sidenotes-opacity);
}