.formfieldlayout > label
{
    font-weight: bold;
    font-size: 0.8em;
}

.formfieldlayout-layout-column > *
{
    display: block;
    width: 100%;
}

.formfieldlayout-description
{
    margin-top: 0.5em;
    font-size: 0.8em;
    opacity: 0.75;
}