.statscolumns
{
    width: 100%;
    display: grid;
}

.statscolumns.statscolumns-inversed
{
    background: var(--color-ink-black);
    color: var(--color-background-light);
}

.statscolumns.statscolumns-auto
{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 1em;
}

.statscolumns.statscolumns-listing
{
    grid-template-columns: 3fr 1fr repeat(4, 80px);
}