.commandereditor
{
    min-height: 240px;
}

.commandereditor-firstline
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    column-gap: var(--columns-gap);
}

.commandereditor-secondline
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--columns-gap);
}

.commandereditor-firstline,
.commandereditor-secondline
{
    margin-top: var(--form-row-spacing);
    margin-bottom: var(--form-row-spacing);
}